<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Guitarists</title>
</head>
<body>
    <h1>A few of my favourite guitarists</h1>

    <h2>Nile Rodgers</h2>
    <p><img src="static/nile.jpg" alt="Nile Rodgers"  height="200px" width="250px"><br> Nile is probably the main reason I picked up a guitar in the first place. He is the definition of funky.
         He brings the sophistication from jazz theory and the groove from funk together better than anyone else alive. <br></p>
    
    <h2>Paul Jackson Jr</h2>
    <p><img src="static/pauljackson.jpg" alt="Paul Jackson Jr" height="200px" width="200px"><br> This man is the smoothest rhythm guitarist on planet Earth. Minimalist backing lines of his are on all my favourite artists' tracks from Marvin Gaye to Luther Vandross.
        He is one of the coolest cats out there. Period. <br>
    </p>

    <h2>David T Walker</h2>
    <p><img src="static/davidt.jpg" alt="David T Walker"  height="200px" width="200px"><br> If you hear any song from the '70s that sounds pretty, it was probably this man's Gibson Byrdland and magical pinky. 
        David's tasteful playing is second to none. He describes his characteristic style as an emulation of a harp.</p>

    <p><a href="{{ url_for('.contactPage') }}"><button>Contact Me</button></a></p>
    
</body>
</html>