<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact</title>
</head>
<body>
    <h1>Contact Me</h1>
    <p>I'd love to hear your feedback or some of the experiences you've had with music over your years.</p>
    <p>Email <strong>dennisdennis123@gmail.com</strong><br>
    <strong><a href="https://www.instagram.com/dennisjohnson_music/">Instagram</a></strong></p>

    <p><a href="{{ url_for('homePage') }}"><button>Home</button></a></p>    
</body>
</html>