<html>
	
	<p align="center">
		<a href="/">home </a>|
		<a href="/blog">blog</a> |
		<a href="/contact">contact </a>
	</p>
   	
   	<body>
    	<form>
    		<p>No content available to display so here is a picture of penguins:</p>
    		<img src = "../static/pen.jpg" width="800" height="450" />
        	<p>I have managed to put a textbox(type all you want) and a button here:</p>
        	<p><input type = "text"></p>
        	<p><input type = "submit" value = "this button does nothing" /></p>
      	</form>
   	</body>

</html>