<div class="header">
  <h2>Nitigya's Blog Post</h2>
</div>

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2>Australia</h2>
      <h5>Dec 7, 2017</h5>
      <div class="img" style="height:200px;"><img src = "/static/australia.png"></div>
      <p>One of Australia’s most popular tourist attractions is the Great Barrier Reef. While the temperatures are warm year-round, the best time to visit is in the summer or spring. While it is the wet season, the rain keeps away the large crowds that flock to the coast in the drier winter months.</p>
    </div>
    <div class="card">
      <h2>London</h2>
      <h5>Sep 2, 2018</h5>
      <div class="img" style="height:200px;"><img src = "/static/london.png"></div>
      <p>There’s no right or wrong time to visit London, but there are a few things to consider when choosing your dates. This being Britain, weather and daylight hours are usually the biggest factors. The best time to visit London is generally in the warmer months and over the summer, but Christmas is also a great season for visiting. If you’re only here on a long layover, here’s what to do, and if you’re here on a rainy day, here’s how to spend it.</p>
    </div>
  </div>
  <div class="rightcolumn">
    <div class="card">
      <h2>About Me</h2>
      <div class="img" style="height:10px;"></div>
      <p>I like Travelling and Coding</p>
    </div>
    <div class="card">
      <h3>Follow Me</h3>
      <p>Email:kapoornitigya@gmail.com Contact:9999259584</p>
    </div>
  </div>
</div>

<div class="footer">
  <h2>Thanks For Visiting</h2>
</div>