<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Welcome Buddy!</title>
    </head>
    <body style="background-image:url(../static/homeback.png);background-repeat:roundx;background-position:bottom">
        <h1 align="center" style="color:crimson;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size: 0.5in">Blog_:_Page</h1>
        <br>
        <br>
        <div style='display: inline-flexbox;background-color: white'>
                <a href="{{ url_for('blog') }}" style="color:black;font-size:5mm;display:inline-block;width:33%;" align="left">Blog Page</a>
                <a href="{{ url_for('home') }}" style="color:black;font-size:5mm;display:inline-block;width: 33%;" align="center">Home Page</a>
                <a href="{{ url_for('contactus') }}" style="color:black;font-size:5mm;display:inline-block;width: 33%;" align="right">Contact Us</a>
        </div>
        <br>
        <br>
        <p align="center" style="background-color: whitesmoke   ;color: brown;font-size: 20mm">
            Are You The Bottom Of My Laptop? Cause You are Hott!!
        </p>
    </body>
</html>