<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Error 4_$</title>
    </head>
    <body style="background-image:url(../static/contactback.jpg);background-position:top;background-repeat:no-repeat">
        <h1 align="center" style="color-adjust: economy;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size: 0.5in;color: black;">Hum Aapki Kya Sahayta Kar Sakte Hai?</h1>
        <br>
        <br>
        <div style='display: inline-flexbox; -webkit-backdrop-filter: blur(20px)'>
            <a href="{{ url_for('blog') }}" style="color:black;font-size:5mm;display:inline-block;width:33%;" align="left">Blog Page</a>
            <a href="{{ url_for('home') }}" style="color:black;font-size:5mm;display:inline-block;width: 33%;" align="center">Home Page</a>
            <a href="{{ url_for('contactus') }}" style="color:black;font-size:5mm;display:inline-block;width: 33%;" align="right">Contact Us</a>
        </div>
        <br>
        <br>
        <p align="center" style="font-size: 10mm">....................... Gonna Write Something like a Tinder Bio?.............................</p>
    </body>
</html>